.show-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--personal-color-2);
}

.show-title {
  font-size: 40px;
  font-weight: 900;
  color: #DFF2EB;
}

.show-period {
  font-size: 25px;
}

.show-img {
  width: 100%;
}